{% extends "layout/base.html.twig" %}

{% block title %}
    Key Metadata
{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb" class="mt-3 mb-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>

            {% if bucketName %}
                <li class="breadcrumb-item">Bucket <a href="{{ href(bucketName) }}">{{ bucketName }}</a></li>
            {% endif %}

            {% if prefix %}
                <li class="breadcrumb-item">Prefix <a href="{{ href(bucketName, '', prefix) }}">{{ prefix }}</a></li>
            {% endif %}

            <li class="breadcrumb-item active" aria-current="page">{{ keyName }}</li>
        </ol>
    </nav>

    {% if status %}
        <div class="alert alert-{{ 'ok' == status ? 'success' : 'danger' }}" role="alert">
            {{ msg|default }}
        </div>
    {% endif %}

    {% if keyName %}
        <h1 class="mt-3 mb-3 text-center">Key Metadata</h1>

        <p>
            {% set objUrl = s3h.getObjectUrl(bucketName, keyName) %}
            Object URL: <a href="{{ objUrl }}">{{ objUrl }}</a>
        </p>

        {% set metadata = attribute(s3h.key(bucketName, keyName), '@metadata') %}

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Field</th>
                <th scope="col">Value</th>
            </tr>
            </thead>
            <tbody>
            {% for key, value in metadata %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ props(value)|raw }}
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <p>
            <a href="{{ urlWith('action', 'delete') }}" class="btn btn-danger">
                Delete
            </a>
        </p>
    {% else %}
        {% if (not status) %}
            <p>
                No key provided
            </p>
        {% endif %}
    {% endif %}
{% endblock %}
